
.contributors {
  overflow: hidden;
}

.contributors img {
  max-height: 40px;
  max-width: 150px;
}

.contributorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.contributorItem {
  margin: 15px 30px;
}

.contributorItem a {
  font-size: 30px;
  color: var(--color-font-dark);
}

.contributorItem a:hover {
  text-decoration: none;
}

footer {
  width: 100%;
  min-width: 480px;
  position: fixed;
  bottom: 0;
  z-index: 900;
}

footer .col > div {
  background-color: #888;
  opacity: 0.9;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  color: white;
  font-size: 12px;
}

.spacer {
  height: 45px;
}

@media (max-width: 768px) {
  footer .col > div {
    flex-direction: column;
  }
}
