
#desktop-streams h1,h2	{ font-family:Verdana,sans-serif; font-size:110%; border-bottom:1px solid #666; margin:0; margin-bottom:0.5em }
#desktop-streams h2	{ margin-top:3em; border-color:#999 }

#desktop-streams ul	{ clear:both }

#desktop-streams hr	{ margin:8em 0; height:1px }

#desktop-streams ul.nav, .nav ul ,.nav li	{ margin:0; padding:0; list-style-type:none }

#desktop-streams .nav li	{ color:black; background-color:#fff; border:1px solid black; }
#desktop-streams .nav li li	{ color:black; background-color:#fff; border-color:black; }
#desktop-streams .nav li li li	{ color:black; background-color:#fff; border-color:black; }

#desktop-streams .nav li	{ position:relative; padding:3px;}

#desktop-streams .nav li span { cursor:pointer; }

#desktop-streams .nav li ul	{ display:none }
#desktop-streams .nav li ul li	{ display:block }

#desktop-streams .nav li:hover ul	{ 
	display: block;
    position: absolute;
    top: -1px;
    right: -100%;
    width: 100%;
    z-index: 10;
    border-left: 1px solid black;
}
#desktop-streams .nav li:hover ul ul	{ display:none }

#desktop-streams .nav li ul li:hover ul	{ display:block; top:-1px; left:8em; margin-left:-2px }

#desktop-streams .nav li.sub:after	{ content:'\25ba'; float:right; vertical-align:middle; font-size:50%; margin:5px; }

#desktop-streams #inline li	{ display:inline; padding:0.2em 0.4em; position:relative }
#desktop-streams #inline li li	{ display:block }

#desktop-streams #inlineblock li	{ display:inline-block; height:1.4em; line-height:1.4em; padding:0 0.4em }
#desktop-streams #inlineblock li li	{ display:block; line-height:auto }

#desktop-streams #tablecell li	{ display:table-cell; height:1.4em; vertical-align:middle; padding:0 0.4em }
#desktop-streams #tablecell li li	{ display:block; line-height:auto }

#desktop-streams #float li	{ display:block; float:left; height:1.4em; line-height:1.4em; padding:0 0.4em }
#desktop-streams #float li li	{ float:none; line-height:auto }

#desktop-streams .arr	{ font-size:50%; vertical-align:middle }
