
.col {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: self-start;
}

.versionString {
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  vertical-align: top;
  color: var(--color-font-dark);
}

.mat-divider {
  height: 40px;
  border-color: var(--color-font-dark);
}

#logo {
  height: 40px;
  width: auto;
}
