/**************************************************/
/*Control bar*/
/**************************************************/
.hide{
    display: none;
}

.disable {
    pointer-events:none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:-webkit-full-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    z-index: -100;
    background: none;
}

:-ms-fullscreen {
    width: auto;
    height: auto;
    margin: auto;
}

@font-face {
    font-family: 'icomoon';
    src:url("icomoon.ttf") format("truetype");
}

.icon-play,
.icon-pause,
.icon-caption,
.icon-mute-off,
.icon-mute-on,
.icon-fullscreen-enter,
.icon-fullscreen-exit{
    font-family: 'icomoon';
    font-size: 20px;
    color: white;
    text-shadow: none;
    -webkit-font-smoothing: antialiased;

}

.time-display,
.duration-display{
    padding:11px;
    color: white;
    font-weight: normal;
    font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.time-display{
    float:left;
}

.duration-display{
    float: right;
}

.btn-play-pause{
    float: left;
    padding:9px 10px;
    cursor: pointer;
}

.btn-caption,
.btn-mute,
.btn-fullscreen {
    float: right;
    padding:9px 10px;
    cursor: pointer;
}

.btn-fullscreen {
    margin-right: 10px;
}

.volumebar {
    float: right;
    width: 70px;
}

.video-controller {
    min-height:35px;
    z-index: 2147483646;
}

.video-controller-fullscreen {
    position: fixed;
    z-index:2147483647;
    width: 100%;
    bottom: 0;
    left: 0;
}

.caption-menu,
.video-controller {
    background-color: black;
}

.caption-item-unselected,
.caption-item-selected{
    font-weight: normal;
    font-size: .9em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.caption-item-unselected{
    color: white;
}

.caption-item-over,
.caption-item-selected {
    background-color: white;
    color: black;
}

.caption-item-selected {
    opacity: .7;
}

.caption-menu ul{
    list-style-type: none;
    padding:0;
    margin:0;
}

.caption-menu li{
    padding:0 10px;
    cursor: pointer;
}

.caption-menu {
    position: absolute;
}

.icon-fullscreen-enter:before {
    content: "\e989";
}
.icon-fullscreen-exit:before {
    content: "\e98a";
}
.icon-play:before {
    content: "\ea1c";
}
.icon-pause:before {
    content: "\ea1d";
}
.icon-mute-on:before {
    content: "\ea29";
}
.icon-mute-off:before {
    content: "\ea27";
}
.icon-caption:before {
    content: "\e600";
}

.seekContainer {
    overflow: auto;
    padding-right: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.seekbar {
    position: relative;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    height: 14px;
    border: none;
    margin:12px 5px;
    padding: 1px 2px;
    border-radius: 5px;
    background: #232528;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    -webkit-box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none; /* no focus outline */
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-moz-range-track {
    border: inherit;
    background: transparent;
}

input[type="range"]::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
    background: transparent;
}

input[type="range"]::-ms-tooltip {
    display: none;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 8px;
    border: none;
    border-radius: 2px;
    background-color:rgb(0, 150, 215);
}
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 8px;
    border: none;
    border-radius: 2px;
    background-color:rgb(0, 150, 215);
}

input[type="range"]::-ms-thumb {
    width: 15px;
    height: 8px;
    border: none;
    border-radius: 2px;
    background-color:rgb(0, 150, 215);
}

div#videoController input[type="range"]{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}