<div class="container my-3">
  <div class="row">
    <div class="col-12">
      <mat-card (mouseenter)="mouseOnChart = true" (mouseleave)="mouseOnChart = false" [class.inactive]="!chartActive">
        <apx-chart #chartObj
          [chart]="chartOptions.chart"
          [theme]="chartOptions.theme"
          [series]="chartOptions.series"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
          [stroke]="chartOptions.stroke"
          [markers]="chartOptions.markers"
          [legend]="chartOptions.legend"
        ></apx-chart>
      </mat-card>
    </div>
  </div>
</div>
