
.dropdown-submenu {
    position: relative;

}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    max-height: 300px;
    overflow: auto;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.github-button {
    float: left;
    width:170px;
    height: 30px;
}

@media screen and (min-width: 0px) and (max-width: 1100px) {

    #big-title {
        display: none;
    }
}

body {
    background: #eee;
    overflow-x: hidden;
}

a:hover {
    color: rgba(42, 100, 150, 1);
}

.modal-list {
    height: 100%;
    overflow: scroll;
}

.row {
    margin-bottom: 10px;
}

.title-header {
    position: relative;
}

.title-header a img {
    height: 50px;
}

.title-header span {
    font-size: 24px;
    line-height: 50px;
}

.github {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -10px;
}

.dash-video-player {
    background-color: #000000;
}

.dash-video-player video {
    width: 100%;
}

.dropdown-menu {
    /*max-height: 250px;*/

}

.panel-top .btn-group {
    float: right;
}

.panel-top .panel-title {
    width: auto;
    line-height: 35px;
}

.panel-stats p {
    display: block;
    font-size: 16px;
    line-height: 16px;
}

chart {
    display: block;
    width: 100%;
    height: 185px;
}

.tab-content {
    margin-top: 10px;
}

#console input-group {
    display: block;
}

.tree {
    height: 300px;
    max-height: 300px;
    margin-top: 20px;
    overflow: scroll;
}

#manifestInfo {
	height: auto;
	overflow: auto;
	white-space: nowrap;
	position: relative;
}

#manifestInfo > div {
	overflow: auto;
}

.manifest-info-box {
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

.manifest-info-item:first-child {
	width: 600px;
}

.manifest-info-item:first-child span {
	padding-left: 300px;
}

.manifest-info-content {
	display: inline-block;
	width: 100%;
}

.manifest-info-content:nth-of-type(even) {
	background-color: #e1edf7;
}

.manifest-nested-info {
}

.manifest-info-content[header]:before {
	content: attr(header);
	position: absolute;
	width: 250px;
	color: #428BCA;
	background-color: white;
	left: 0;
}

.manifest-info-content.manifest-nested-info[header]:before {
	padding-left: 20px;
}

.manifest-info-content[header]:nth-of-type(even):before {
	background-color: #e1edf7;
}

.manifest-info-content[header="Period"],
.manifest-info-content[header="Period"]:before {
	background-color: #e0ffff;
}

.manifest-info-content[header="Representation"],
.manifest-info-content[header="Representation"]:before {
	background-color: #f5fffa;
}

.btn-caption,
.btn-mute,
.btn-fullscreen,
.btn-play-pause{
    padding:4px 10px !important;
}

#notes {
    height: 340px;
    max-height: 340px;
    overflow: scroll;
}

.note-box {
    font-size: 11px;
    margin-bottom: 10px;
}

.footer-area {
    background-color: #ffffff;
}

.compat-box {
    color: #cff3ec;
}

.compat-box a {
    color: #cff3ec;
    text-decoration: underline;
}

.compat-box h3 {
    color: #3498d8;
}

.compat-box ul li {
    background-color: #3498d8;
}

.footer-text {
    height: 50px;
    color: #bdc1c5;
    display: block;
}

.footer-text img {
    height: 40px;
}

.contributor {
    font-size: 22px;
    color: #555;
}

#videoContainer {
    position:relative;
}
