name: deploy_nightly

on:
    push:
        branches:
            - 'development'

jobs:
    deploy_staging:
        if: github.repository == 'dsilhavy/dash.js'
        uses: ./.github/workflows/deploy.yml
        with:
            envname: nightly
            deploy_path: '/377335/dash.js'
            samples: "['network-interceptor']"
        secrets:
            host: ${{secrets.HOST}}
            user: ${{secrets.USER}}
            private_key: ${{secrets.PRIVATE_KEY}}
